@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Space+Grotesk:wght@300..700&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #B9FF66;
    --secondary: #191A23;
    --tertiary: #F3F3F3;
}

body {
    text-transform: capitalize;
    font-family: Space Grotesk !important;
}

/* navbar */

.mynavbar {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo>h1 {
    font-weight: 500;
}

.logo>img {
    height: 36px;
    width: 36px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

li>a {
    text-decoration: none !important;
    color: black !important;
}

.nav-linksbox {
    border: 1px solid var(--secondary);
    text-transform: none;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
}

li {
    list-style-type: none;
}

.navbar {
    background-color: white !important;
    position: static !important;
    margin-bottom: 40px;
}

@media only screen and (min-width:900px) {
    .navbar {
        display: none !important;
        width: 100% !important;
    }
}

/* herosection */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    width: 500px;
    text-transform: none;
    position: relative;
    height: 500px;
}

.hero-image {
    width: 500px;
    height: 500px;
}

.hero-button {
    position: absolute;
    bottom: 50px;
    background-color: black;
    padding: 15px 40px;
    border-radius: 15px;
}

.hero-description {
    position: absolute;
    top: 50%;
}

.hero-title {
    font-size: 3rem;
    position: absolute;
    top: 10%;
}

.hero-button>a {
    color: white !important;
    text-decoration: none !important;
}

.hero-section_logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto;
}

.hero-section_logos>img {
    width: 100px;
    height: 100%;
}

@media only screen and (max-width:899px) {
    .mynavbar {
        display: none;
    }

    .hero-image {
        display: none;
    }

    .hero-content {
        align-self: center;
    }

    .hero-description {
        position: absolute;
        top: 60%;
    }

    .hero-button {
        bottom: 0;
    }

    .banner_img {
        display: none;
    }
}


/* Services */

.services_header {
    display: flex;
    padding-left: 50px;
}

.services_heading {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background-color: var(--primary);
}

.services_para {
    text-transform: none;
    margin-left: 30px;
    width: 540px;
}

.services_cards {
    height: 250px;
    width: 500px;
    border: 1px gray solid;
    border-bottom: 4px black solid;
    border-radius: 35px;
    position: relative;
    padding: 30px;
    display: flex;
}

.services_section_cardsparent {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px auto;
}

.card_content {
    width: 250px;
}

.card_title {
    display: inline-block;
    background-color: var(--primary);
    text-transform: none;
    font-weight: 500;
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin: 0px;
}

.card_link {
    color: black;
    text-transform: none;
    font-weight: 450;
    position: absolute;
    bottom: 25px;
    left: 55px;
}

.icon_card {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.card_img {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 30px;
}

.card_1,
.card_4 {
    background-color: var(--tertiary);
}

.card_2,
.card_5 {
    background-color: var(--primary);
}

.card_title_special {
    background-color: white;
    border: 1px solid white;
}

.card_3,
.card_6 {
    background-color: var(--secondary);
}

.icon_special {
    color: var(--tertiary);
}

.card_link_special {
    color: white;
}

@media only screen and (max-width:450px) {
    .services_header {
        display: block;
    }

    .services_para {
        margin-left: 0;
        width: auto;
    }

    .card_img {
        display: none;
    }

    .services_cards {
        width: 70%;
    }

}

/* Banner */

.banner {
    display: flex;
    margin: 40px auto;
    background-color: var(--tertiary);
    width: 90%;
    height: fit-content;
    border-radius: 35px;
    padding: 50px;
    justify-content: space-between;
    position: relative;
}

.banner_content {
    width: 800px;
}

a {
    text-decoration: none !important;
}

.banner-button {
    background-color: black;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
}

.banner-button>a {
    color: white !important;
}

.banner_img {
    height: 220px;
    width: 220px;
    position: absolute;
    right: 100px;
    top: 22px;
}

/* Case Studies*/

.case_studies_header {
    display: flex;
    padding-left: 50px;
}

.case_studies_heading {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background-color: var(--primary);
}

.case_studies_para {
    text-transform: none;
    margin-left: 30px;
    width: 540px;
}

.case_studies_card {
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    padding: 40px;
    margin: 40px auto;
    border-radius: 35px;
    display: flex;
    color: white;
}

.case_studies_card_content {
    border-right: 1px solid white;
    position: relative;
    width: 300px;
    padding: 0px auto;
}


.card_studies_special {
    border: none;
    padding-left: 30px;
}

.card_studies_specialy {
    padding: 0px 30px;
}

@media only screen and (max-width:950px) {
    .case_studies_card {
        display: block;
        padding: 20px;
    }

    .case_studies_card_content {
        border-right: none;
        border-left: 1px solid white;
        padding-left: 20px;
    }
}

/*Our Working Process */

.working_process_header {
    display: flex;
    padding-left: 50px;
}

.working_process_heading {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    /* background-color: var(--primary); */
}

.working_process_para {
    text-transform: none;
    margin-left: 30px;
    width: 540px;
}

.working_process_heading>h1 {
    background-color: var(--primary);
}

.full_card {
    background-color: var(--primary);
    width: 90%;
    height: fit-content;
    margin: 40px auto;
}

.working_card_header {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
}

.working_card_heading {
    display: inline-block;
    margin-left: 20px;
}

.working_cards {
    padding: 30px;
    border-radius: 30px;
    border-bottom: 4px black solid !important;
    border: 1px solid black;
    width: 90%;
    height: fit-content;
}

.num {
    display: inline-block;
}

.working_icon {
    position: absolute;
    right: 0;
}

.working_card_description {
    margin-top: 20px;
}

.half_card {
    margin: 10px auto;
    background-color: var(--tertiary);
}

/* Team */

.team_header {
    display: flex;
    padding-left: 50px;
    margin-top: 40px;
}

.team_heading {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    /* background-color: var(--primary); */
}

.team_para {
    text-transform: none;
    margin-left: 30px;
    width: 540px;
}

.team_heading>h1 {
    background-color: var(--primary);
}

.team_section_cardsparent {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px auto;
}

.team_card {
    height: 280px;
    width: 340px;
    border-bottom: 4px black solid !important;
    border: 1px solid black;
    padding: 30px;
    border-radius: 30px;
}

.team_card_img {
    height: 70px;
    width: 70px;
}

.team_card_header {
    display: flex;
    position: relative;
}

.team_card_position {
    line-height: 0;
}

.team_card_heading {
    align-self: flex-end;
    margin-left: 5px;
}

.team_card_icon {
    position: absolute;
    right: 0;
}

.btn-team {
    background-color: black;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    color: white;
    position: absolute;
    right: 20px;
}