@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Space+Grotesk:wght@300..700&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #B9FF66;
    --secondary: #191A23;
}

body {
    text-transform: capitalize;
    font-family: Space Grotesk !important;
}

/* navbar */

.mynavbar {
    display: flex;
    /* border: 2px solid black; */
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo>h1 {
    font-weight: 500;
}

.logo>img {
    height: 36px;
    width: 36px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.nav-linksbox {
    border: 1px solid var(--secondary);
    text-transform: none;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
}

li {
    list-style-type: none;
}

.navbar{
    background-color: white !important;
    position: static !important;
}

@media only screen and (min-width:900px) {
    .navbar {
        display: none !important;
    }
}

@media only screen and (max-width:899px) {
    .mynavbar{
        display: none ;
    }
}