@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Space+Grotesk:wght@300..700&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #B9FF66;
    --secondary: #191A23;
    --tertiary: #F3F3F3;
}

body {
    text-transform: capitalize;
    font-family: Space Grotesk !important;
}

/* navbar */

.mynavbar {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo>h1 {
    font-weight: 500;
}

.logo>img {
    height: 36px;
    width: 36px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

li>a {
    text-decoration: none !important;
    color: black !important;
}

.nav-linksbox {
    border: 1px solid var(--secondary);
    text-transform: none;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
}

li {
    list-style-type: none;
}

.navbar {
    background-color: white !important;
    position: static !important;
    margin-bottom: 40px;
}

@media only screen and (min-width:900px) {
    .navbar {
        display: none !important;
        width: 100%;
    }
}

/* herosection */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    width: 500px;
    text-transform: none;
    position: relative;
    height: 500px;
}

.hero-image {
    width: 500px;
    height: 500px;
}

.hero-button {
    position: absolute;
    bottom: 50px;
    background-color: black;
    padding: 15px 40px;
    border-radius: 15px;
}

.hero-description {
    position: absolute;
    top: 50%;
}

.hero-title {
    font-size: 3rem;
    position: absolute;
    top: 10%;
}

.hero-button>a {
    color: white !important;
    text-decoration: none !important;
}

.hero-section_logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto;
}

.hero-section_logos>img {
    width: 100px;
    height: 100%;
}

@media only screen and (max-width:899px) {
    .mynavbar {
        display: none;
    }

    .hero-image {
        display: none;
    }

    .hero-content {
        align-self: center;
    }

    .hero-description {
        position: absolute;
        top: 60%;
    }

    .hero-button {
        bottom: 0;
    }

}

/* Services */

.services_header {
    display: flex;
    padding-left: 50px;
}

.services_heading {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background-color: var(--primary);
}

.services_para {
    text-transform: none;
    margin-left: 30px;
    width: 540px;
}

.services_cards {
    height: 250px;
    width: 500px;
    border: 1px gray solid;
    border-bottom: 4px black solid;
    border-radius: 35px;
    position: relative;
    padding: 30px;
    display: flex;
}

.services_section_cardsparent {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px auto;
}

.card_content {
    width: 250px;
}

.card_title {
    display: inline-block;
    background-color: var(--primary);
    text-transform: none;
    font-weight: 500;
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin: 0px;
}

.card_link {
    color: black;
    text-transform: none;
    font-weight: 450;
    position: absolute;
    bottom: 25px;
    left: 55px;
}

.icon_card {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.card_img {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 30px;
}

.card_1,
.card_4 {
    background-color: var(--tertiary);
}

.card_2,
.card_5 {
    background-color: var(--primary);
}

.card_title_special {
    background-color: white;
    border: 1px solid white;
}

.card_3,
.card_6 {
    background-color: var(--secondary);
}

.icon_special {
    color: var(--tertiary);
}

.card_link_special {
    color: white;
}

@media only screen and (max-width:450px) {
    .services_header {
        display: block;
    }

    .services_para {
        margin-left: 0;
        width: auto;
    }

    .card_img {
        display: none;
    }

    .services_cards {
        width: 70%;
    }
}